In [1]:
import pandas as pd 
import seaborn as sns
import numpy as np

df = pd.read_csv("./new_data/data.csv",low_memory=False)
df = df.drop('test_date',axis=1)

df.head()

,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
0,0,0,0,0,0,negative,No,male,Other
1,0,1,0,0,0,negative,No,male,Other
2,0,0,0,0,0,negative,Yes,female,Other
3,0,0,0,0,0,negative,No,male,Other
4,0,1,0,0,0,negative,No,male,Contact with confirmed

In [2]:
df = df[(df.corona_result != 'other')]

In [3]:
df['corona_result'].replace({'negative':0,'other':0 ,'positive':1},inplace =True)
df['age_60_and_above'].replace({'No':0,np.nan:0,'Yes':1},inplace =True)
df['test_indication'].replace({'Other':0,'Abroad':0,'Contact with confirmed':1},inplace =True)
df['gender'].replace({np.nan:0,'female':0,'male':1},inplace =True)

In [4]:
df

,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
0,0,0,0,0,0,0,0,1,0
1,0,1,0,0,0,0,0,1,0
2,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,1,0
4,0,1,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...
2742590,0,0,0,0,0,0,0,1,0
2742591,0,0,0,0,0,0,0,0,0
2742592,0,0,0,0,0,0,0,0,0
2742594,0,0,0,0,0,0,0,0,0
2742595,0,1,0,0,0,0,0,1,0

In [5]:
X=  pd.concat([ df.iloc[:,:5], df.iloc[:,6:7]], axis=1)
y = df.corona_result

In [6]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier


X_train, X_test, y_train, y_test = train_test_split(X,y, 
                                                    random_state = 20, 
                                                    test_size = 0.20)
clf = DecisionTreeClassifier()
clf.fit(X_train,y_train)

y_pred = clf.predict(X_test)
print("Train data accuracy:",accuracy_score(y_true = y_train, y_pred=clf.predict(X_train)) *100)
print("Test data accuracy:",accuracy_score(y_true = y_test, y_pred=y_pred)*100)

Train data accuracy: 93.08440786228508
Test data accuracy: 93.05928821565274

In [7]:
from joblib import dump, load
dump(clf, 'DecisionTree.joblib')
#clf = load('model.joblib')

['DecisionTree.joblib']

In [8]:
# exemple de test 
df1 = pd.DataFrame(np.array([[1, 1, 1,0, 0, 0]]),
                   columns=['cough' ,'fever' ,'sore_throat',
                            'shortness_of_breath','head_ache',
                            'age_60_and_above']
                  )
df2 = pd.DataFrame(np.array([[0, 0, 0,0, 0, 1]]),
                   columns=['cough' ,'fever' ,'sore_throat',
                            'shortness_of_breath','head_ache',
                            'age_60_and_above']
                  )

In [9]:
def prediction(df):
    clf = load('DecisionTree.joblib')
    prediction = clf.predict(df[0:])
    if prediction[0] == 1:
        print("Vous etes positif au covid 19 ")
    else:
        print("Vous etes nÃ©gatif au covid 19 ")

prediction(df1)
prediction(df2)

Vous etes positif au covid 19
Vous etes nÃ©gatif au covid 19